{"pools":[{"id":"1","name":"Slush's Poo","url":"http:\/\/stratum.bitcoin.cz:33","username":"grese.pimine","password":"schmiles","enabled":"1"}],"api-listen":true,"api-port":"4028","expiry":"120","failover-only":true,"log":"5","queue":"2","scan-time":"60","worktime":true,"shares":"0","kernel-path":"\/usr\/local\/bin","api-allow":"W:127.0.0.1"}